{% set layout = extendsTemplate is defined and extendsTemplate ? extendsTemplate : 'HttpiCoreBundle:Default:base.html.twig' %}
{% extends layout %}

{% block breadcrumbs %}
<ul>
	<li><h1 class="title">Status Management</h1></li>
</ul>
{% endblock %}

{% block css %}
	{{ parent() }}
	{% stylesheets 
		'@HttpiCoreBundle/Resources/public/css/crud.default.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
	{{ parent() }}
	{% javascripts
		'@HttpiMaritimeAdminBundle/Resources/public/js/form.js'
	%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
<p class="button">
	<a href="{{ path('admin_status__new') }}">Create new</a>
</p>
	
<table class="records_list">
	<thead>
		<tr>
			<th class="col-id">Id</th>
			<th class="col-name">Name</th>
			<th class="col-actions">Actions</th>
		</tr>
	</thead>
	<tbody>
	{% for entity in entities %}
		<tr>
			<td class="col-id"><a href="{{ path('admin_status__edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
			<td class="col-name">{{ entity.name }}</td>
			<td class="col-actions">
				<ul>
					<li>
						<a href="{{ path('admin_status__edit', { 'id': entity.id }) }}">edit</a>
					</li>
				</ul>
			</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}